################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Prestamo_Equipos_Herramientas/.vs/Prestamo_Equipos_Herramientas/v15/Server/sqlite3/db.lock
